* {
  border-radius: 0 !important;
}

html, body { 
    height: 100% 
}

body {
    font:13px "Verdana" , sans-serif;
    background: url(../image/blue-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p a {
    color: rgb(64,224,208);
}

p a:hover {
    color: rgb(64,224,208);
}

.chat {
    position: absolute;
    right: 0;
}

.chat p {
    text-align: center;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #B6B6B6;
}

/*KARTTA*/
#map-canvas {
    width: 50%;
    min-width: 250px;
    height: 508px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-bottom-right-radius: 1em !important;
    border-top-right-radius: 1em !important;
    border-top: 4px solid rgb(64,224,208);
    margin-top: 26px;
}

/*SOVELLUKSEN KOKO JA SIJAINTI*/
#right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 600px;
}

#left {
    position: absolute;
    left: 0;
    height: 600px;
    width: 50%;
    padding: 0 !important;
    margin: 0 !important;
}

.no-margin {
   padding: 0 !important;
   margin: 0 !important;
}


#main, #main>.upper {
    height: 600px;
}

/*CHATIN ULKOASU*/
.chat-messages,
.chat textarea,
.chat-name{
	padding: 10px;
    border: 0;
}

.chat-name {
    padding :10px;
    background: rgba(0,0,0,0.6);
    color: rgb(64,224,208);
    font-size: 20px;
    border-top: 4px solid rgb(64,224,208);
    border-top-left-radius: 1em !important;
    width: 100%;
    height: 52px;
}

.chat-name:hover, .chat-name:focus {
    background: rgba(0,0,0,0.5);
}

.chat-messages {
    overflow-y: scroll;
    height: 350px;
    padding:10px;
    background: rgb(0,0,0);
    color: white;
}

.chat-message{
    margin-bottom:15px;
}

.input {
    resize: none;
    border-bottom-left-radius: 1em !important;
}

.input, .btn {
    height: 80px !important;
}

.chat textarea {
    padding :10px;
    background: rgba(0,0,0,0.8);
    color: white;
}

.chat textarea:hover, .chat textarea:focus {
    background: rgba(0,0,0,0.7);
}

.input-group span:not(#status) {
    color: white;
    background-color: rgb(64,224,208);
    border: 0;
}

.input-group span:hover:not(#status) {
    background-color: rgb(48,166,155);
}

.chat-status{
	color: #BBB;
	padding: 3px;
	background: rgba(0,0,0,0.8);
    text-align: center;
}

/*ALAPALKKI*/
.well {
    border-radius: 1em !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 4px solid rgb(64,224,208) !important;
    background: rgba(0,0,0,0.7) !important;
}

.well label {
    color: #BBB;
}

/*KARTTAMERKIN LISÄYSPAINIKE*/
button {
    border-radius: 0.5em !important;
}

.text-right .btn {
    height: 40px !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(64,224,208,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(64,224,208,1);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(64,224,208,0.4); 
}